<p>приветственное письмо</p>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head lang="ru-RU">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body style="background:#F4F7F9;padding-bottom: 100px;padding-top: 1px;">
  <div style="width:530px; margin: 0 auto"> 
    <!-- logo -->
    <div class="email-logo" style="margin: 40px auto 20px; width: 140px;">
      <img src="https://app.escapenavigator.com/assets/img/menu/logo.svg" alt="logo" style="width: 140px;">
    </div>
    <!-- logo end -->
    <!-- header-->
    <div class="email-container">
      <div class="quest-succes" style="background-color:#725744;background-image:url(<%= q.photo %>);background-size: cover;color:#fff;font-family:sans-serif;font-size:16px;letter-spacing:1.5px; padding:70px 0 74px;text-align:center">
        <div class="quest-succes-text" style="font-size:14px;font-weight:500">
          Вы успешно забронировали квест
        </div>
        <span style="display:inline-block;font-weight:700;margin-top:8px;text-transform:uppercase">"<%= q.title %>"</span>
      </div>
    <!-- header end-->
    <!-- place & time -->
      <div class="quest" style="background:#fff;color:#7C7B7B;font-family:sans-serif;font-size:14px;font-weight:500;margin-bottom:18px;padding:34px 50px 27px 36px;text-align:left">
        <div class="quest-info">
          <div class="quest-time">
            Ждем вас
            <span style="font-weight:700"><%= v.date %></span> 
            в 
            <span style="font-weight:700"><%= v.time %></span>
          </div>
          <div class="quest-adress" style="margin-bottom:34px;margin-top:5px">
            по адресу: 
            <span style="font-weight:700"><%= q.address %></span>
          </div>
        </div>

        <div class="quest-price" style="letter-spacing: 1px;">
          Стоимость игры: 
          <span style="font-weight:700">
            <%= v.price[v.players].val %> $
          </span>
          <a class="quest-cansel" href="#" style="color:#7C7B7B;float:right;font-weight:400;opacity:.7;letter-spacing: 1.3px;">Отмена бронирования</a>
        </div>

      </div>
    </div>
    <!-- place & time end-->
    <!-- order -->
    <div class="email-container" style="margin:auto">
      <div class="additional" style="background:#fff;border-bottom:1px solid #F2F2F2;padding:30px 0px 36px 36px">

        <div class="additional-order" style="box-sizing: border-box;border-right:1px solid #F2F2F2;padding-bottom: 7px;color:#7C7B7B;display:inline-block;font-family:sans-serif;font-size:14px;font-weight:700;text-align:left;vertical-align:top;width:220px">
          Вы заказали <br> дополнительные опции:
          <span style="color:#675BF1;display:block;font-weight:500;margin-top:27px;vertical-align:top">
            <div class="circle" style="background:#675BF1;border-radius:13px;display:inline-block;height:12px;margin-right:15px;width:12px"></div>
            Съемка на видео
          </span>
        </div>

        <div class="additional-certificate" style="box-sizing: border-box;color:#7C7B7B;display:inline-block;font-family:sans-serif;font-size:14px;font-weight:700;padding-left:40px;text-align:left;vertical-align:top;width:220px">
          Вы использовали сертификат:
          <span style="background:#F8F7FF;border-radius:27px;color:#675BF1;display:inline-block;font-weight:500;margin-top:16px;padding:8px 0;text-align:center;vertical-align:top; width:138px">34758596866</span>
        </div>
      </div>
    </div>
    <!-- order end -->
    <div class="email-container" style="margin:auto;text-align:center;">
      <div class="email-footer" style="background:#fff;border-radius:0 0 5px 5px;padding:0 30px 0 34px">
        <div class="email-footer-social" style="height:35px;padding-top:24px;text-align:right">
          <div class="email-footer-logo" style="display:inline-block;float:left">
            <img src="https://app.escapenavigator.com/assets/img/menu/logo.svg" alt="logo" style="float:left;height: 30px;padding-top:10px">
          </div>
          <img src="/img/Vector1.svg" alt="paper" style="margin-left:20px;padding-top:10px">
          <img src="/img/Vector2.svg" alt="whatsapp" style="margin-left:20px;padding-top:10px">
          <img src="/img/Vector3.svg" alt="linkidin" style="margin-left:20px;padding-top:10px">
          <img src="/img/Vector4.svg" alt="skype" style="margin-left:20px;padding-top:10px">
          <img src="/img/Vector5.svg" alt="instagram" style="margin-left:20px;padding-top:10px">
          <img src="/img/Vector6.svg" alt="youtube" style="margin-left:20px;padding-top:10px">
        </div>
        <div class="email-footer-unsubscribe" style="padding-bottom:45px;padding-top:25px;text-align:right">
          <a href="#" style="color:#C7CDDA;font-family:sans-serif;font-size:12px;font-weight:500;letter-spacing:.5px;">Отписаться от рассылки</a>
        </div>
      </div>
    </div>
    <!-- social -->
  </div>
</body>

</html>